footer {
  width: auto;
  height: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 9.5vw;

  font-size: 1.5vw;
  font-weight: 600;
}

footer ul li,
footer p {
  padding-inline: 1.1vw;
  padding-block: 0.6vw;
  border: 0.075vw solid black;
  background-image: radial-gradient(#d9d9d9, #393737);
  border-radius: 1.5vw;
  box-shadow: 0.37vw 0.37vw 0.75vw 0.075vw rgba(0, 0, 0, 0.5);
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
  width: 100%;
  height: auto;

  text-align: center;
}

footer ul li a {
  display: flex;
  align-items: center;
  text-indent: 0.37vw;
}

footer img {
  width: 1.9vw;
  aspect-ratio: 1/1;
}

footer ul li:first-child {
  margin-right: auto;
}

footer ul li:last-child {
  margin-left: auto;
}

footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-indent: 0.37vw;
  justify-content: center;
  text-align: center;
}

footer p span {
  display: flex;
}
