/* X */
.X {
  background-image: url(/Code/assets/Icons/X.png);
  background-size: contain;
  height: 20px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

/* POP UP BARRA*/
.pop-up-barra {
  background-color: #d9d9d9;
  border: 5px solid black;
  width: 238px;
  height: auto;
  padding: 20px;
  position: absolute;
  z-index: 10;
  top: -100px;
  left: 10px;
}

.pop-up-barra hr {
  width: auto;
  height: 3px;
  background-color: #000;
  box-shadow: none;
  border: none;
  margin-block: 10px;
}

.pop-up-barra > p {
  color: #000;
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-weight: 1000;
  margin: 0px;
}

.pop-up-barra ul {
  list-style: none;
  flex-grow: 1;
  display: block;
  padding: 0px;
  margin: 0px;
}

.pop-up-barra ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pop-up-barra ul li input {
  width: 50px;
  height: 20px;
}

.pop-up-barra ul li input::-webkit-inner-spin-button,
.pop-up-barra ul li input::-webkit-outer-spin-button {
  display: none;
}

.pop-up-barra ul li button {
  cursor: pointer;
}
