@charset "UTF-8";
/*Variáveis para reutiliazar MIXINS*/
/* Botão  X para sair*/
.X {
  background-color: rgba(61, 61, 61, 0.5);
  -o-object-fit: cover;
     object-fit: cover;
  height: 20px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0.075vw solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding: 1.5px;
}
.X img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.remover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 140px;
  height: 25px;
  background-color: rgba(236, 44, 44, 0.5);
  border: 3px solid rgba(61, 2, 2, 0.7);
  padding: 1px;
  cursor: pointer;
}
.remover img {
  height: 100%;
  aspect-ratio: 1/1;
}
.remover p {
  text-indent: 5px;
  margin: 0;
  color: #fff;
  font-family: "Source Serif 4";
  font-size: 20px;
  font-weight: 700;
}

.ok {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 70px;
  height: 25px;
  background-color: rgba(19, 211, 211, 0.5);
  border: 3px solid rgba(194, 253, 253, 0.7);
  padding: 1px;
  cursor: pointer;
}
.ok img {
  height: 100%;
  aspect-ratio: 1/1;
}
.ok p {
  text-indent: 5px;
  margin: 0;
  color: #fff;
  font-family: "Source Serif 4";
  font-size: 20px;
  font-weight: 700;
}

/* POP UP BARRA*/
.pop-up-barra {
  background-color: #d9d9d9;
  border: 5px solid black;
  width: 238px;
  height: auto;
  padding: 20px;
  position: absolute;
  z-index: 100;
  top: -100px;
  left: 10px;
}
.pop-up-barra hr {
  width: auto;
  height: 3px;
  background-color: #000;
  box-shadow: none;
  border: none;
  margin-block: 10px;
}
.pop-up-barra button {
  cursor: pointer;
}
.pop-up-barra ul {
  list-style: none;
  flex-grow: 1;
  display: block;
  padding: 0px;
  margin: 0px;
}
.pop-up-barra ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.pop-up-barra ul li input {
  width: 50px;
  height: 20px;
}
.pop-up-barra ul li input::-webkit-inner-spin-button,
.pop-up-barra ul li input::-webkit-outer-spin-button {
  display: none;
}
.pop-up-barra > p {
  color: #000;
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-weight: 1000;
  margin: 0px;
}

/* POP UP INFO HABILIDADE */
.fundo-verde {
  position: absolute;
  top: 180%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: #6bda37;
}
.fundo-verde .info-habilidade {
  background-image: url(../assets/PopUpHabilidade-fundo.png);
  background-size: cover;
  border-radius: 50px;
  border: 6px solid #6bda37;
  box-sizing: border-box;
  width: 66vw;
  height: 517px;
  display: flex;
  flex-direction: row;
}
.fundo-verde .info-habilidade .principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
  padding: 50px;
  box-sizing: border-box;
}
.fundo-verde .info-habilidade .principal .container-foto-habilidade {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 260px;
  height: 260px;
}
.fundo-verde .info-habilidade .principal img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  border: 8px solid #2f1e04;
  z-index: 0;
}
.fundo-verde .info-habilidade .principal label {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.6) inset;
}
.fundo-verde .info-habilidade .principal label input {
  display: none;
}
.fundo-verde .info-habilidade .principal ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;
  flex-grow: 1;
  margin: 0%;
  padding: 0%;
  flex-direction: column;
}
.fundo-verde .info-habilidade .principal ul li {
  color: #2f1e04;
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}
.fundo-verde .info-habilidade .principal ul li:first-child {
  margin-top: 30px;
}
.fundo-verde .info-habilidade .principal ul li input {
  width: 100%;
  margin-left: 10px;
  border: none;
  background: transparent;
  color: #2f1e04;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.fundo-verde .info-habilidade .principal ul li textarea {
  resize: none;
  width: 120px;
  height: 60%;
  margin-left: 10px;
  box-sizing: border-box;
  border: 2px dotted #281a04;
  background: transparent;
  color: #2f1e04;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.fundo-verde .info-habilidade .propriedades {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  padding: 30px;
}
.fundo-verde .info-habilidade .propriedades .habilidade-nome {
  color: #281a04;
  text-align: center;
  font-family: "Metal Mania";
  font-size: 60px;
  font-weight: 400;
  height: 30px;
  width: 100%;
  padding: 0%;
  box-sizing: border-box;
  border: 2px dotted #281a04;
}
.fundo-verde .info-habilidade .propriedades hr {
  width: 90%;
  height: 3px;
  margin-block: 30px;
  background-color: #2f1e04;
  border: none;
  display: block;
}
.fundo-verde .info-habilidade .propriedades p {
  margin: 0px;
  align-self: flex-start;
  color: #2f1e04;
  font-family: Inter;
  font-size: 15px;
  font-weight: 900;
  display: block;
}
.fundo-verde .info-habilidade .propriedades textarea {
  resize: none;
  background: transparent;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  border: 2px dotted #281a04;
  color: #2f1e04;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}/*# sourceMappingURL=popUps.css.map */