/*Variáveis para reutiliazar MIXINS*/

@mixin centrar-itens($align, $just) {
  display: flex;
  align-items: $align;
  justify-content: $just;
}

@mixin botao-padrao($width, $height, $corFundo, $borda) {
  flex-direction: row;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $corFundo;
  border: $borda;
  padding: 1px;
  cursor: pointer;

  p {
    text-indent: 5px;
    margin: 0;
    color: #fff;
    font-family: "Source Serif 4";
    font-size: 20px;
    font-weight: 700;
  }
}

/* Botão  X para sair*/
.X {
  background-color: rgba($color: #3d3d3d, $alpha: 0.5);
  object-fit: cover;
  height: 20px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0.075vw solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding: 1.5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Botoes utils

.remover {
  @include centrar-itens(center, center);
  @include botao-padrao(
    140px,
    25px,
    rgba(236, 44, 44, 0.5),
    3px solid rgba(61, 2, 2, 0.7)
  );
  img {
    height: 100%;
    aspect-ratio: 1/1;
  }
}

.ok {
  @include centrar-itens(center, center);
  @include botao-padrao(
    70px,
    25px,
    rgba(19, 211, 211, 0.5),
    3px solid rgba(194, 253, 253, 0.7)
  );
  img {
    height: 100%;
    aspect-ratio: 1/1;
  }
}

.mudar {
  @include centrar-itens(center, center);
  @include botao-padrao(
    121px,
    25px,
    rgba(94, 236, 44, 0.50),
    3px solid rgba(2, 61, 11, 0.70)
  );
  img {
    height: 100%;
    width: auto;;
  }
}

/* POP UP BARRA*/

.pop-up-barra {
  background-color: #d9d9d9;
  border: 5px solid black;
  width: 238px;
  height: auto;
  padding: 20px;
  position: absolute;
  z-index: 100;
  top: -100px;
  left: 10px;

  hr {
    width: auto;
    height: 3px;
    background-color: #000;
    box-shadow: none;
    border: none;
    margin-block: 10px;
  }

  button {
    cursor: pointer;
  }

  ul {
    list-style: none;
    flex-grow: 1;
    display: block;
    padding: 0px;
    margin: 0px;

    li {
      @include centrar-itens(center, space-around);
      flex-direction: row;

      input {
        width: 50px;
        height: 20px;
      }
      input::-webkit-inner-spin-button,
      input::-webkit-outer-spin-button {
        display: none;
      }
    }
  }
  > p {
    color: #000;
    text-align: center;
    font-family: "Merriweather Sans";
    font-size: 20px;
    font-weight: 1000;
    margin: 0px;
  }
}

/* POP UP INFO HABILIDADE */

.fundo-verde {
  position: absolute;
  top: 180%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: #6bda37;

  .info-habilidade {
    background-image: url(../assets/PopUpHabilidade-fundo.png);
    background-size: cover;
    border-radius: 50px;
    border: 6px solid #6bda37;
    box-sizing: border-box;
    width: 66vw;
    height: 517px;
    display: flex;
    flex-direction: row;

    .principal {
      @include centrar-itens(center, space-around);
      flex-direction: column;
      width: 40%;
      padding: 50px;
      box-sizing: border-box;

      .container-foto-habilidade {
        @include centrar-itens(center, center);
        position: relative;
        width: 260px;
        height: 260px;
      }

      img {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        border-radius: 10px;
        border: 8px solid #2f1e04;
        z-index: 0;
      }

      label {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;
        box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.6) inset;

        input {
          opacity: 0;
          height: 100%;
          width: 100%;
        }
      }

      ul {
        @include centrar-itens(flex-start, space-evenly);
        list-style: none;
        flex-grow: 1;
        margin: 0%;
        padding: 0%;
        flex-direction: column;

        li {
          color: #2f1e04;
          font-family: Inter;
          font-size: 25px;
          font-weight: 900;
          display: inline-flex;
          justify-content: space-between;
          width: 100%;
          flex-wrap: nowrap;

          &:first-child {
            margin-top: 30px;
          }

          input {
            width: 100%;
            margin-left: 10px;
            border: none;
            background: transparent;

            color: #2f1e04;
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
          }

          textarea {
            resize: none;
            width: 120px;
            height: 60%;
            margin-left: 10px;
            box-sizing: border-box;
            border: 1px dashed #281a04;
            background: transparent;

            color: #2f1e04;
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }

    .propriedades {
      @include centrar-itens(center, center);
      flex-direction: column;
      width: 60%;
      padding: 30px;

      .habilidade-nome {
        color: #281a04;
        text-align: center;
        font-family: "Metal Mania";
        font-size: 60px !important;
        font-weight: 400;
        height: 30px;
        width: 100%;
        padding: 0%;
        box-sizing: border-box;
        border: 1px dashed #281a04;

        &::-webkit-scrollbar {
          width: 0px;
        }
      }

      hr {
        width: 90%;
        height: 3px;
        margin-block: 30px;
        background-color: #2f1e04;
        border: none;
        display: block;
      }

      p {
        margin: 0px;
        align-self: flex-start;
        color: #2f1e04;
        font-family: Inter;
        font-size: 15px;
        font-weight: 900;
        display: block;
      }

      & > textarea {
        resize: none;
        background: transparent;
        flex-grow: 1;
        width: 100%;
        box-sizing: border-box;
        border: 1px dashed #281a04;

        color: #2f1e04;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

// PopUp Item
.popUpItem {
  width: 850px;
  height: 420px;
  border-radius: 10px;
  background-image: url("../assets/item-fundo.jpg");
  padding: 60px;
  display: flex;
  justify-content: space-between;
  border: 5px solid black;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;

  .container1 {
    list-style: none;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;

    li {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: left;

      &:first-child {
        height: 50%;
      }

      &:last-child {
        height: 30%;
      }

      div {
        display: block;
        width: 100%;
        height: 120%;
        cursor: pointer;
        border-radius: 30px;
        border: 6px solid #000;
        box-sizing: border-box;
        box-shadow: 0px 0px 14px 13px rgba(0, 0, 0, 0.4) inset;
        img {
          border-radius: 30px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      span {
        display: flex;
        color: #7c7c7c;
        font-family: Inter;
        font-size: 25px;
        font-weight: 900;
        height: 40%;
        padding-left: 8px;

        p {
          margin-left: 5px;
          width: auto;
          height: 100%;

          color: #a5a5a5;
          font-family: Inter;
          font-size: 25px;
          font-weight: 900;
        }
      }
    }
  }
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  width: 60%;

  p {
    display: block;
    resize: none;
    width: 100%;
  }

  span {
    color: #7c7c7c;
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
    height: 30%;
  }

  #nome {
    height: 50%;
    background: transparent;
    text-align: center;
    font-family: "Irish Grover";
    font-size: 95px;
    font-weight: 400;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }

  #desc {
    height: auto;
    background: transparent;
    color: #a5a5a5;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
  }
}

// LOJA INVENTARIOA

.loja {
  height: 700px;
  width: 1400px;
  background-image: url("../assets/loja-fundo.png");
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  padding: 40px;

  .X-loja {
    width: 35px;
    height: 35px;
    top: 2px;
    right: 2px;
    border: 4px solid rgba(0, 0, 0, 0.7);
    border-radius: 0px 10px 0px 0px;
  }

  .cabecalho-loja {
    width: 100%;
    height: 15%;
    display: flex;

    p {
      margin-left: 20px;
      color: #fff;
      font-family: "Bacasime Antique";
      font-size: 70px;
    }

    .carrinho {
      box-sizing: border-box;
      padding: 10px 0px 20px 0px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: right;
      column-gap: 15px;

      .item-loja:hover {
        border: 8px solid rgb(132, 0, 0);
        cursor: pointer;

        &::before {
          content: ""; /* Adiciona conteúdo ao pseudo-elemento */
          position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
          top: 0; /* Alinha no topo */
          left: 0; /* Alinha à esquerda */
          width: 100%; /* Cobertura total na largura */
          height: 100%; /* Cobertura total na altura */
          background-color: rgba(
            255,
            0,
            0,
            0.3
          ); /* Vermelho claro com transparência */
          z-index: 1; /* Coloca o pseudo-elemento sobre o conteúdo da div */
        }

        &::after {
          content: "X"; /* Adiciona conteúdo ao pseudo-elemento */
          position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
          top: 50%; /* Alinha verticalmente ao centro */
          left: 50%; /* Alinha horizontalmente ao centro */
          transform: translate(-50%, -50%); /* Centraliza o conteúdo */
          color: white; /* Cor do texto */
          font-size: 24px; /* Tamanho do texto */
          z-index: 2; /* Coloca o pseudo-elemento sobre a camada de fundo */
        }
      }
    }
  }

  hr {
    width: auto;
    height: 15px;
    background-color: rgba(96, 96, 96, 0.8);
  }

  .mostruario-loja {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px;

    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  .add {
    position: absolute;
    z-index: 1;
    right: 25px;
    bottom: 20px;

    width: 200px;
    height: 90px;
    border: 4px solid black;
    box-shadow: 0px 0px 8.3px 7px rgba(0, 0, 0, 0.4) inset;
    background-color: #dca200;
    border-radius: 50%;
    cursor: pointer;

    color: #000;
    font-family: "Inknut Antiqua";
    font-size: 23px;
    font-weight: 900;
  }
}

.item-loja {
  grid-column-start: span 1;
  grid-row-start: span 1;
  width: 75px;
  height: 75px;
  border: 8px solid black;
  box-sizing: border-box;
  position: relative;

  & > * {
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    border: 1px solid black;
    width: 17px;
    height: 17px;
    background-color: transparent;
  }
}
