@charset "UTF-8";
/*Variáveis para reutiliazar MIXINS*/
/* Botão  X para sair*/
.X {
  background-color: rgba(61, 61, 61, 0.5);
  -o-object-fit: cover;
     object-fit: cover;
  height: 1.52vw;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0.38vw;
  right: 0.38vw;
  border: 0.08vw solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding: 0.11vw;
}
.X img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.remover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 10.61vw;
  height: 1.9vw;
  background-color: rgba(236, 44, 44, 0.5);
  border: 0.23vw solid rgba(61, 2, 2, 0.7);
  padding: 0.08vw;
  cursor: pointer;
}
.remover p {
  text-indent: 0.38vw;
  margin: 0;
  color: #fff;
  font-family: "Source Serif 4";
  font-size: 1.52vw;
  font-weight: 700;
}
.remover img {
  height: 100%;
  aspect-ratio: 1/1;
}

.ok {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 5.31vw;
  height: 1.9vw;
  background-color: rgba(19, 211, 211, 0.5);
  border: 0.23vw solid rgba(194, 253, 253, 0.7);
  padding: 0.08vw;
  cursor: pointer;
}
.ok p {
  text-indent: 0.38vw;
  margin: 0;
  color: #fff;
  font-family: "Source Serif 4";
  font-size: 1.52vw;
  font-weight: 700;
}
.ok img {
  height: 100%;
  aspect-ratio: 1/1;
}

.mudar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 9.17vw;
  height: 1.9vw;
  background-color: rgba(94, 236, 44, 0.5);
  border: 0.23vw solid rgba(2, 61, 11, 0.7);
  padding: 0.08vw;
  cursor: pointer;
}
.mudar p {
  text-indent: 0.38vw;
  margin: 0;
  color: #fff;
  font-family: "Source Serif 4";
  font-size: 1.52vw;
  font-weight: 700;
}
.mudar img {
  height: 100%;
  width: auto;
}

/* POP UP BARRA*/
.pop-up-barra {
  background-color: #d9d9d9;
  border: 0.38vw solid black;
  width: 18.04vw;
  height: auto;
  padding: 1.52vw;
  position: absolute;
  z-index: 100;
  top: -7.58vw;
  left: 0.76vw;
}
.pop-up-barra hr {
  width: auto;
  height: 0.23vw;
  background-color: #000;
  box-shadow: none;
  border: none;
  margin-block: 0.76vw;
}
.pop-up-barra button {
  cursor: pointer;
}
.pop-up-barra ul {
  list-style: none;
  flex-grow: 1;
  display: block;
  padding: 0vw;
  margin: 0vw;
}
.pop-up-barra ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.pop-up-barra ul li input {
  width: 3.79vw;
  height: 1.52vw;
}
.pop-up-barra ul li input::-webkit-inner-spin-button,
.pop-up-barra ul li input::-webkit-outer-spin-button {
  display: none;
}
.pop-up-barra > p {
  color: #000;
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 1.52vw;
  font-weight: 1000;
  margin: 0vw;
}

/* POP UP INFO HABILIDADE */
.fundo-verde {
  position: absolute;
  top: 180%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: #6bda37;
}
.fundo-verde .info-habilidade {
  background-image: url(../assets/PopUpHabilidade-fundo.png);
  background-size: cover;
  border-radius: 3.79vw;
  border: 0.45vw solid #6bda37;
  box-sizing: border-box;
  width: 66vw;
  height: 39.2vw;
  display: flex;
  flex-direction: row;
}
.fundo-verde .info-habilidade .principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
  padding: 3.79vw;
  box-sizing: border-box;
}
.fundo-verde .info-habilidade .principal .container-foto-habilidade {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 19.71vw;
  height: 19.71vw;
}
.fundo-verde .info-habilidade .principal img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 0.76vw;
  border: 0.61vw solid #2f1e04;
  z-index: 0;
}
.fundo-verde .info-habilidade .principal label {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0vw 0vw 1.52vw 0.45vw rgba(0, 0, 0, 0.6) inset;
}
.fundo-verde .info-habilidade .principal label input {
  opacity: 0;
  height: 100%;
  width: 100%;
}
.fundo-verde .info-habilidade .principal ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;
  flex-grow: 1;
  margin: 0%;
  padding: 0%;
  flex-direction: column;
}
.fundo-verde .info-habilidade .principal ul li {
  color: #2f1e04;
  font-family: Inter;
  font-size: 1.9vw;
  font-weight: 900;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}
.fundo-verde .info-habilidade .principal ul li:first-child {
  margin-top: 2.27vw;
}
.fundo-verde .info-habilidade .principal ul li input {
  width: 100%;
  margin-left: 0.76vw;
  border: none;
  background: transparent;
  color: #2f1e04;
  font-family: Inter;
  font-size: 1.52vw;
  font-weight: 400;
}
.fundo-verde .info-habilidade .principal ul li textarea {
  resize: none;
  width: 9.1vw;
  height: 60%;
  margin-left: 0.76vw;
  box-sizing: border-box;
  border: 0.08vw dashed #281a04;
  background: transparent;
  color: #2f1e04;
  font-family: Inter;
  font-size: 1.52vw;
  font-weight: 400;
}
.fundo-verde .info-habilidade .propriedades {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  padding: 2.27vw;
}
.fundo-verde .info-habilidade .propriedades .habilidade-nome {
  color: #281a04;
  text-align: center;
  font-family: "Metal Mania";
  font-size: 4.55vw !important;
  font-weight: 400;
  height: 2.27vw;
  width: 100%;
  padding: 0%;
  box-sizing: border-box;
  border: 0.08vw dashed #281a04;
}
.fundo-verde .info-habilidade .propriedades .habilidade-nome::-webkit-scrollbar {
  width: 0vw;
}
.fundo-verde .info-habilidade .propriedades hr {
  width: 90%;
  height: 0.23vw;
  margin-block: 2.27vw;
  background-color: #2f1e04;
  border: none;
  display: block;
}
.fundo-verde .info-habilidade .propriedades p {
  margin: 0vw;
  align-self: flex-start;
  color: #2f1e04;
  font-family: Inter;
  font-size: 1.14vw;
  font-weight: 900;
  display: block;
}
.fundo-verde .info-habilidade .propriedades > textarea {
  resize: none;
  background: transparent;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  border: 0.08vw dashed #281a04;
  color: #2f1e04;
  font-family: Inter;
  font-size: 1.52vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popUpItem {
  width: 64.44vw;
  height: 31.84vw;
  border-radius: 0.76vw;
  background-image: url("../assets/item-fundo.jpg");
  padding: 4.55vw;
  display: flex;
  justify-content: space-between;
  border: 0.38vw solid black;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}
.popUpItem .container1 {
  list-style: none;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.27vw;
}
.popUpItem .container1 li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.popUpItem .container1 li:first-child {
  height: 50%;
}
.popUpItem .container1 li:last-child {
  height: 30%;
}
.popUpItem .container1 li div {
  display: block;
  width: 100%;
  height: 120%;
  cursor: pointer;
  border-radius: 2.27vw;
  border: 0.45vw solid #000;
  box-sizing: border-box;
  box-shadow: 0vw 0vw 1.06vw 0.99vw rgba(0, 0, 0, 0.4) inset;
}
.popUpItem .container1 li div img {
  border-radius: 2.27vw;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popUpItem .container1 li span {
  display: flex;
  color: #7c7c7c;
  font-family: Inter;
  font-size: 1.9vw;
  font-weight: 900;
  height: 40%;
  padding-left: 0.61vw;
}
.popUpItem .container1 li span p {
  margin-left: 0.38vw;
  width: auto;
  height: 100%;
  color: #a5a5a5;
  font-family: Inter;
  font-size: 1.9vw;
  font-weight: 900;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  width: 60%;
}
.container2 p {
  display: block;
  resize: none;
  width: 100%;
}
.container2 span {
  color: #7c7c7c;
  font-family: Inter;
  font-size: 1.9vw;
  font-weight: 900;
  height: 30%;
}
.container2 #nome {
  height: 50%;
  background: transparent;
  text-align: center;
  font-family: "Irish Grover";
  font-size: 7.2vw;
  font-weight: 400;
  text-shadow: -0.08vw -0.08vw 0 #fff, 0.08vw -0.08vw 0 #fff, -0.08vw 0.08vw 0 #fff, 0.08vw 0.08vw 0 #fff;
}
.container2 #desc {
  height: auto;
  background: transparent;
  color: #a5a5a5;
  font-family: Inter;
  font-size: 1.9vw;
  font-weight: 500;
}

.loja {
  height: 53.07vw;
  width: 90vw;
  box-sizing: border-box;
  background-image: url("../assets/loja-fundo.png");
  border-radius: 0.75vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  padding: 3vw;
}
.loja .X-loja {
  width: 2.65vw;
  height: 2.65vw;
  top: 0.15vw;
  right: 0.15vw;
  border: 0.3vw solid rgba(0, 0, 0, 0.7);
  border-radius: 0vw 0.76vw 0vw 0vw;
}
.loja .cabecalho-loja {
  width: 100%;
  height: 15%;
  display: flex;
}
.loja .cabecalho-loja p {
  margin-left: 1.52vw;
  color: #fff;
  font-family: "Bacasime Antique";
  font-size: 5.31vw;
}
.loja .cabecalho-loja .carrinho {
  box-sizing: border-box;
  padding: 0.76vw 0vw 1.52vw 0vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  -moz-column-gap: 1.14vw;
       column-gap: 1.14vw;
}
.loja .cabecalho-loja .carrinho .item-loja:hover {
  border: 0.61vw solid rgb(132, 0, 0);
  cursor: pointer;
}
.loja .cabecalho-loja .carrinho .item-loja:hover::before {
  content: ""; /* Adiciona conteúdo ao pseudo-elemento */
  position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
  top: 0; /* Alinha no topo */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Cobertura total na largura */
  height: 100%; /* Cobertura total na altura */
  background-color: rgba(255, 0, 0, 0.3); /* Vermelho claro com transparência */
  z-index: 1; /* Coloca o pseudo-elemento sobre o conteúdo da div */
}
.loja .cabecalho-loja .carrinho .item-loja:hover::after {
  content: "X"; /* Adiciona conteúdo ao pseudo-elemento */
  position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
  top: 50%; /* Alinha verticalmente ao centro */
  left: 50%; /* Alinha horizontalmente ao centro */
  transform: translate(-50%, -50%); /* Centraliza o conteúdo */
  color: white; /* Cor do texto */
  font-size: 1.82vw; /* Tamanho do texto */
  z-index: 2; /* Coloca o pseudo-elemento sobre a camada de fundo */
}
.loja hr {
  width: auto;
  height: 1.14vw;
  background-color: rgba(96, 96, 96, 0.8);
}
.loja .mostruario-loja {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 0.76vw;
       column-gap: 0.76vw;
  row-gap: 1.52vw;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 3.79vw;
  overflow-y: scroll;
}
.loja .mostruario-loja::-webkit-scrollbar {
  width: 0vw;
}
.loja .add {
  position: absolute;
  z-index: 1;
  right: 1.9vw;
  bottom: 1.52vw;
  width: 15.16vw;
  height: 6.82vw;
  border: 0.3vw solid black;
  box-shadow: 0vw 0vw 0.63vw 0.53vw rgba(0, 0, 0, 0.4) inset;
  background-color: #dca200;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
  font-family: "Inknut Antiqua";
  font-size: 1.74vw;
  font-weight: 900;
}

.item-loja {
  grid-column-start: span 1;
  grid-row-start: span 1;
  width: 5.69vw;
  height: 5.69vw;
  border: 0.61vw solid black;
  box-sizing: border-box;
  position: relative;
}
.item-loja > * {
  cursor: pointer;
}
.item-loja img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-loja button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: 0.08vw solid black;
  width: 1.29vw;
  height: 1.29vw;
  background-color: transparent;
}/*# sourceMappingURL=popUps.css.map */